@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto Bold';
  src: url('./assets/fonts/Roboto-Bold.ttf');
  font-weight: 700;
}

:root {

  /* Colors */
  /* Primary */
  --colorTomato: hsl(4, 100%, 67%);
  /* Neutral */
  --colorDarkSlateGrey: hsl(234, 29%, 20%);
  --colorCharcoalGrey: hsl(235, 18%, 26%);
  --colorGrey: hsl(231, 7%, 60%);
  --colorWhite: hsl(0, 0%, 100%);

  /* Font */
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  /*
  */
  outline: 1px dashed #000;
}

body {
  position: relative;
  max-width: 375px;
  overflow-x: hidden;
  display: static;
}

#app {
  width: 100%;
}

.refMob, .refFull {
  position: absolute;
  top: 0;
  left: 0px;
  width: 375px;
  opacity: 0.5;
  pointer-events: none;
  z-index: 10000;
}

.refFull {
  width: 1440px;
  opacity: 0;
}

@media (min-width: 376px) {
  
  body {
    max-width: 1440px;
    display: flex;
    background-color: #000;
  }

  .refMob {
    opacity: 0;
  }
  .refFull {
    opacity: 0.5;
  }
  
}
